<div class= "search">
  
   <form class="search-form {{searchformadditionalclass}}" method="{{method}}" action="{{action}}">
   {{#searchFormFields}}
        {{#items}}
            {{#searchtextField}}
                {{>molecules-text-field }}
            {{/searchtextField}}  
        {{/items}}
         <button class="btn-search" role="button">
            
            <img src="/../../images/icons/search.svg" alt="search magnifying glass"/>
            
         </button>
    
   {{/searchFormFields}}
   </form>


</div>