<div class="hotel-list-container {{hotelclass}}">
        {{#hotel-listItem}}
        <picture class="hotel__item hotel__item-1 {{imageSize}}">
            <a href="{{url}}" target="_blank"><img src="{{image}}" alt="{{name}}"  class="hotel__img"/>
            <p class="hotel__text">{{name}}</p></a>
        </picture>
        {{/hotel-listItem}}

</div>