
<ul class="list {{extraclass}}">
{{# news-items}}
 <li class="list-item">
   {{# url}}
      <a class="list-link" href="{{url}}">{{label}}</a>
   {{/ url}}
   {{^ url}}
      {label}}
   {{/ url}}
 </li> 
 {{/ news-items}}

</ul>