<section class=s-aboutus {{extraabout}}>

<div class="s-about-container">
    <h2 class="s-about-headline">The Sub-Saharan Africa in brief</h2>
    <p class="s-about-text">{{{about-us-text}}}</p>
    <div class="button-container">
    {{#about-button}}
        {{> molecules-button}}
    {{/about-button}}
    
    </div>
   
</div>
</section>
