<div class="footer-nav-contact-container">
<div class="footer-nav-contact__inner">
      <div class="footer-nav-search">{{> molecules-search}}</div>
      <div class="footer-top-nav">
        {{>molecules-header-nav-top}}
      </div>
     {{> molecules-contact-address}}
</div>
<p class="footer-nav-contact-copyright">Copyright © 2025 WAPOR SSA. ALL RIGHTS RESERVED. | WEBSITE BY JENS GLOBAL</p>

</div>