<section class="section-ImageText {{bg-modifier}}">
    <div class="img-container">
     
    </div>
    <div class="text-container">
      <h2>WAPOR SSA Membership Benefits include:</h2>
         
         {{> molecules-benefit-list}}
         {{# benefit-items-exist}}
         {{#benefit-button}}
          {{> molecules-button }}
         {{/benefit-button}}
         {{/benefit-items-exist}}
        
         
    </div>
</section>