<div class="{{imageLeftListRightContainer}}">
<div class="{{imageLeftContainer}}">
  {{> atoms-benefit-image}}
  <h2><strong><a href="{{image-caption-link}}"">{{image-caption}}<a></strong></h2>
</div>
<div class="{{listRightContainer}}">
    <h2><strong>{{list-caption}}</strong></h2>
   {{>molecules-benefit-list}}
</div>

</div>