<div class= c-footer-nav-container>
            {{# footerNav }}
            
            <div class="footer-nav__inner">
              <h2 class="footer-nav__heading">{{name}}</h2>
              <hr/>
            
              {{# value}}
                <ul class="footer-nav__list">
                  
                   <li class="footer-nav__item"><a href="{{url}}" class="footer-nav__link">{{label}}</a></li>
                  
                </ul>

              {{/ value}}
            </div><!--end c-footer-nav__item-->
            
            {{/ footerNav }}
        
       
    
</div>