<div class="{{additionalAddressContainer}}">
 <p class=" {{additionalAddressTextClasses}}">World Association for Public Opinion Research Sub Saharan Africa.<br/>
<span>7 Jacaranda Avenue, Off Gitanga Road, Lavington,<br/> Nairobi, Kenya</span><br/> <span>E-mail: info@wapor-ssa.org<span></p>

    <span><strong>Follow us:</strong></span>{{> molecules-socialmedia}}
</div>