<nav class="c-top-nav ">
  <ul class="c-primary-nav__list">
  
      {{# topnavItems}} 
      <li class="c-primary-nav__item {{ styleModifier }}">
        <a href="{{url}}" class="c-primary-nav__link">{{label}}</a>
      </li>
      {{/ topnavItems}}
  </ul>

</nav>