
  <ul class="socialmedia__list">
    {{# socialmedia}}
    <li class="socialmedia__item">
    <a href="{{url}}" class="socialmedia__link"><img   class="socialmedia__img" src="{{src}}" alt="{{label}}"/></a>
    </li>
    {{/ socialmedia}}
  <ul>
