{{> organisms-header}}
<div class="page-content-container">
{{> molecules-hero}}
{{> organisms-section-news}}
{{> organisms-section-about}}
{{> organisms-section-benefits}}
{{> organisms-section-social-media}}
</div>
{{> organisms-footer}}