<div class="banner-container">
<div class="banner-inner">
  <h1 class="{{bannertitleclass}}">{{title}}</h1>
</div>
<img src="../../images/banner-arrow.png" alt="banner-arrow" class="banner-image"/>
</div>