<section class="news-container">

    <div class="new-headline-list">
        <h2>Latest news</h2>
            {{> molecules-lists}}
    </div>
     <div class="news-image">
     
        {{> molecules-event}}
        
    </div>
</section>