<header class="c-header {{ headerStyleModifier }}">
        <span class="logo-container">
        {{> molecules-logo }}
        {{> molecules-mobile-menu-button}}
        {{> molecules-primary-nav }}
        </span>
        {{> molecules-search}}
        
        {{> molecules-become-a-member}}
</header><!--end c-header-->