
<!--DO NOT REMOVE-->
{{{ patternLabFoot }}}
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script>
const swiper = new Swiper(".mySwiper", {
  spaceBetween: 30,
  centeredSlides: true,
  autoplay: {
    delay: 4000,
    disableOnInteraction: false,
    
  },
  pagination: {
    el: ".swiper-pagination",
    clickable: true,
  },
  navigation: {
    nextEl: ".swiper-button-next",
    prevEl: ".swiper-button-prev",
  },
});
</script>

 


  <script>
  const adswiper = new Swiper(".myAdSwiper", {
      zoom: true,
      navigation: {
        nextEl: ".adswiper-button-next",
        prevEl: ".adswiper-button-prev",
      },
      pagination: {
        el: ".adswiper-pagination",
        clickable: true,
      },
    });
  </script>


{{! 
  <script src="/../js/hero-slider.js" type="module"></script> }}
  
<script src="/js/primary-nav.js" type="text/javaScript"></script>
</body>
</html>
